* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://img.freepik.com/free-vector/3d-film-strips-with-light-effect-background_1017-36683.jpg?t=st=1729964881~exp=1729968481~hmac=63408ba9c9427813371529d17687984e0526058dd1fb3606f87639b12f52023e&w=2000);
    background-color: #3e49b1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

p {
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    color: white;
}

img {
    display: flex;
    max-width: 230px;
    max-height: auto;
    outline: black 2px solid;
    border-radius: 30px;
    margin: 5px;
}

.poster {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    border-radius: 25px;
    border-color:  #3d49b0;
    border-style: solid;
    margin: 10px;
    flex-direction: column;
    background-color:  #3d49b0;
}
.image-path{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;

}
.image-path:hover {
	-webkit-transform: scale(1.08);
	transform: scale(1.08);
    
}

.voting {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
}

.poster .upvote-path {
    width: 30px;
    height: 30px;
    background-color: white;
    cursor:pointer;
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
    
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}
.poster .upvote-path:hover{
    -webkit-transform: rotate(359deg) scale(1);
    transform: rotate(359deg) scale(1);

}

.poster .downvote-path {
    width: 30px;
    height: 30px;
    background-color: white;
    cursor: pointer;
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
    
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}
.poster .downvote-path:hover{
    -webkit-transform: rotate(359deg) scale(1);
    transform: rotate(359deg) scale(1);

}

.MoviePoster {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;


}

.poster-count {
    display: flex;
    justify-content: center;
    background-color:  #3d49b0;
    margin-top: 10 px;
}